@model HRMS.Models.Candidate
@{
    ViewBag.Title = "View";
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "validate_form", enctype = "multipart/form-data" }))
{
    

    <div class="box grid_16">
        <h2 class="box_head">Form Elements</h2>
        <div class="controls">
            <a href="#" class="grabber"></a>
            <a href="#" class="toggle"></a>
        </div>
        <div class="toggle_container">
            <div class="block">
                <h2 class="section">Candidate Information</h2>
                <div class="columns">
                    <div class="col_100">
                        <div class="col_40 no_border_left">
                            <fieldset>
                                <label>Given Name</label>
                                <div class="clearfix">
                                    @Html.TextBoxFor(m => m.Firstname, new { @readonly="readonly" })
                                </div>
                            </fieldset>
                        </div>
                        <div class="col_40">
                            <fieldset>
                                <label>Surname</label>
                                <div class="clearfix">
                                    @Html.TextBoxFor(m => m.Lastname, new { @readonly="readonly" })
                                </div>
                            </fieldset>
                        </div>
                        <div class="col_20">
                            <fieldset>
                                <label>Title</label>
                                <div class="clearfix">
                                    @Html.TextBoxFor(m => m.Title, new { @readonly="readonly" })
                                </div>
                            </fieldset>
                        </div>
                        <div class="col_25">
                            <fieldset class="bottom">
                                <label>Email Address</label>
                                <div class="clearfix">
                                    @Html.TextBoxFor(m => m.Email, new { @readonly="readonly" })
                                </div>
                            </fieldset>
                        </div>
                        <div class="col_25">
                            <fieldset class="bottom">
                                <label>Telephone</label>
                                <div class="clearfix">
                                    @Html.TextBoxFor(m => m.Telephone, new { @readonly="readonly" })
                                </div>
                            </fieldset>
                        </div>
                        <div class="col_25">
                            <fieldset class="right bottom">
                                <label for="file_upload">Candidate CV</label>
                                <div class="clearfix">
                                   <a href="~/Documents/cv/Petar_Prokop_1006YY.pdf" target="_blank" id="downloadfile" class="button light">
                                        <img src="~/Content/Images/icons/small/grey/download.png">
												<span>View Document</span></a> 
                                 </div>
                            </fieldset>
                        </div>
                        <div class="col_25">
                            <fieldset class="bottom">
                                <label>Status</label>
                                <div class="clearfix"> 
                                    @Html.TextBoxFor(m => m.Status, new { @readonly="readonly" })
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="col_100">
                        <fieldset class="label_top top">
                            <label for="text_field_inline">A Short Description</label>
                            <div>
                                @Html.TextAreaFor(m => m.ShortDesc)
                            </div>
                        </fieldset>
                    </div>
                </div>

            </div>
        </div>
    </div>
}  
